Nep.Project.Web/Web References/DesPersonWS/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://110.78.8.36/ws" name="WebServices" targetNamespace="http://110.78.8.36/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://110.78.8.36/ws">
      <xsd:element name="getDesPersonRequest" type="tns:getDesPersonRequest" />
      <xsd:element name="getDesPersonResponse" type="tns:getDesPersonResponse" />
      <xsd:complexType name="getDesPersonRequest">
        <xsd:sequence>
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="person_code" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getDesPersonResponse">
        <xsd:sequence>
          <xsd:element name="return_code" type="xsd:string" />
          <xsd:element name="return_message" type="xsd:string" />
          <xsd:element name="maimad_details" type="tns:maimad_details" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="maimad">
        <xsd:sequence>
          <xsd:element name="person_code" type="xsd:string" />
          <xsd:element name="maimad_id" type="xsd:string" />
          <xsd:element name="first_name_thai" type="xsd:string" />
          <xsd:element name="last_name_thai" type="xsd:string" />
          <xsd:element name="sex_code" type="xsd:string" />
          <xsd:element name="birth_date" type="xsd:string" />
          <xsd:element name="deform_id" type="xsd:string" />
          <xsd:element name="deform_name" type="xsd:string" />
          <xsd:element name="prefix_code_thai" type="xsd:string" />
          <xsd:element name="prefix_name_abbr" type="xsd:string" />
          <xsd:element name="person_subtype" type="xsd:string" />
          <xsd:element name="curator_id" type="xsd:string" />
          <xsd:element name="curr_address_no" type="xsd:string" />
          <xsd:element name="curr_address_name" type="xsd:string" />
          <xsd:element name="curr_moo" type="xsd:string" />
          <xsd:element name="curr_soi" type="xsd:string" />
          <xsd:element name="curr_street" type="xsd:string" />
          <xsd:element name="curr_sub_district" type="xsd:string" />
          <xsd:element name="curr_subdistrict_name" type="xsd:string" />
          <xsd:element name="curr_district_code" type="xsd:string" />
          <xsd:element name="curr_district_name" type="xsd:string" />
          <xsd:element name="curr_province_code" type="xsd:string" />
          <xsd:element name="curr_province_name" type="xsd:string" />
          <xsd:element name="home_region_code" type="xsd:string" />
          <xsd:element name="home_region_name" type="xsd:string" />
          <xsd:element name="home_postcode" type="xsd:string" />
          <xsd:element name="home_telephone" type="xsd:string" />
          <xsd:element name="home_fax" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="maimad_details">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="maimad" type="tns:maimad" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getDesPersonRequest">
    <wsdl:part name="getDesPersonRequest" element="tns:getDesPersonRequest" />
  </wsdl:message>
  <wsdl:message name="getDesPersonResponse">
    <wsdl:part name="getDesPersonResponse" element="tns:getDesPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicePort">
    <wsdl:operation name="getDesPerson">
      <wsdl:input message="tns:getDesPersonRequest" />
      <wsdl:output message="tns:getDesPersonResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicesSOAP" type="tns:ServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDesPerson">
      <soap:operation soapAction="http://110.78.8.36/ws/services.php" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSOAP" binding="tns:servicesSOAP">
      <soap:address location="http://110.78.8.36/ws/services.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>