Nep.Project.Web/Web References/NepServiceWS/NepService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConfirmPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:PaymentConfirm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PaymentConfirm">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="invoiceId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="payAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="interestAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="totalAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="paymentDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="paymentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiptBookNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiptDocNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfirmPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmPaymentResult" type="tns:ReturnObjectOfPaymentConfirm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnObjectOfPaymentConfirm">
        <s:complexContent mixed="false">
          <s:extension base="tns:ReturnMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:PaymentConfirm" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ReturnMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCompleted" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPaymentSlip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentSlipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentSlipResult" type="tns:ReturnObjectOfPaymentSlip" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnObjectOfPaymentSlip">
        <s:complexContent mixed="false">
          <s:extension base="tns:ReturnMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:PaymentSlip" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PaymentSlip">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orgName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="invoiceId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="invoiceDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="invoiceUserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="payAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="interestAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="totalAmount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConfirmPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmPayment" />
  </wsdl:message>
  <wsdl:message name="ConfirmPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentSlipSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentSlip" />
  </wsdl:message>
  <wsdl:message name="GetPaymentSlipSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentSlipResponse" />
  </wsdl:message>
  <wsdl:portType name="NepServiceSoap">
    <wsdl:operation name="ConfirmPayment">
      <wsdl:input message="tns:ConfirmPaymentSoapIn" />
      <wsdl:output message="tns:ConfirmPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentSlip">
      <wsdl:input message="tns:GetPaymentSlipSoapIn" />
      <wsdl:output message="tns:GetPaymentSlipSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NepServiceSoap" type="tns:NepServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmPayment">
      <soap:operation soapAction="http://tempuri.org/ConfirmPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentSlip">
      <soap:operation soapAction="http://tempuri.org/GetPaymentSlip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NepServiceSoap12" type="tns:NepServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmPayment">
      <soap12:operation soapAction="http://tempuri.org/ConfirmPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentSlip">
      <soap12:operation soapAction="http://tempuri.org/GetPaymentSlip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NepService">
    <wsdl:port name="NepServiceSoap" binding="tns:NepServiceSoap">
      <soap:address location="http://localhost:8976/WebServices/NepService.asmx" />
    </wsdl:port>
    <wsdl:port name="NepServiceSoap12" binding="tns:NepServiceSoap12">
      <soap12:address location="http://localhost:8976/WebServices/NepService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>